#marqueestyle{
 margin-top:30px;
  margin-bottom:20px;
  color:green;
  font-family:cursive;
}
#con{
  text-align:center;

}
#popl{
  margin-bottom:70px;
 background-color:red;
}
#lol{
  text-align:center;
  margin-bottom:70px; 
  background:linear-gradient(#f7d094 0%, #97cff7 100%)
}

.row::after{
  content:"";
  clear:both;
  display:table;
}
.travel_mainDiv{
  float:left;
  width:33.33%;
  padding:5px;
  border:1px solid #f7f5ed;
}
.travel_mainDiv hr{
  width:100%;
}
.travel_mainDiv img{
  width:80%;
  height:200px;
}
#achievementsID{
  padding-bottom:10px;
}
.movie_head{
  font-size:20px;
  padding:6px 22px;
  border-radius:10px;
  margin-bottom:20px;
  width:100%;
  display:inline-block;
  
}
html{
  scroll-behaviour:smooth;
}